body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(146, 168, 209);
}

.container{
  height: 450px;
  width: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #363945;
}

button{
  height: 50px;
  width: 55px;
  margin: 0px 5px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
  color: whitesmoke;
  border: none;
}

button:hover{
  background-color: rgb(146, 168, 209);
  color: black;
  transform: scale(1.1);
}

.btn-num-js{
  background-color: #A0DAA9;
}

.btn-op-js{
  background-color: #E9897E;
}

.btn-enter-js{
  background-color: RGB(68, 184, 172);
}

.btn-clear-js{
  background-color: RGB(155, 35, 53);
}

.btn-del-js{
  background-color: RGB(225, 93, 68);
}

.btn-ans-js{
  background-color: #E0B589;
}
.enter{
  margin-left: 19px;
  width: 110px;
  border-radius: 47%;
}

.result{
  border-radius: 10px;
  border: none;
  height: 80px;
  width: 280px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 25px;
  background-color: #EDF1FF;
  font-weight: bolder;

}

.row{
  margin-top: 10px;
}