.container{
  background-color: white;
  height: 550px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-input{
  margin-bottom: 26px;
}

legend{
  margin: 0 auto;
}


.c-btn{
  margin-left: 39%;
  border: none;
  background-color: transparent;
  color: rosybrown;
  cursor: pointer;
  padding: 6px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;

}